{% extends 'base.html.twig' %}


{% block title %}Page Profil
{% endblock %}

{% block body %}
	<div id="containerh2">
		<h2>Profil</h2>
	</div>

	<form
		id="profilForm" action="" methode="post">
		{# <h1>Bienvenue sur votre profil</h1> #}
		<h4 id="test">Vos informations personnelles :</h4>
		<div id="containerProfilForm">

			<label for="lastame" class="profilFormElement">
				Nom
			</label>
			<input type="text" name="lastname" value="" class="profilFormElement input">

			<label for="firstname" class="profilFormElement">
				Prénom
			</label>
			<input type="text" name="firstname" value="" class="profilFormElement input">

			<label for="mail" class="profilFormElement">
				Adresse mail
			</label>
			<input type="email" name="mail" value="" class="profilFormElement input">

			<label for="password" class="profilFormElement">
				Mot de passe
			</label>
			<input type="password" name="password" class="profilFormElement input">

		</div>
		<div id="bottomForm">
			<button class="profilBtn" type="submit" id="modifyProfilBtn">Modifier</button>
			<button class="profilBtn" type="submit" id="profilSubmitBtn">Valider</button>
		</div>

	</form>

	<nav class="navbar navbar-dark fixed-bottom">
		<div class="container-fluid">
			<button class="navbar-toggler bottom-0 end-0 bg-black " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Acceuil</a>
						</li>
						{# <li class="nav-item">
																																																																																																																																																																		            <a class="nav-link active" aria-current="page" href="#">Favoris</a>
																																																																																																																																																																		          </li>  #}
						<li class="nav-item">
							<a class="nav-link" href="#">Profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Déconnexion</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</nav>

	{# <ul class="nav nav-pills nav-fill">
																											  <li class="nav-item">
																											    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
																											  </li>
																											  <li class="nav-item">
																											    <a class="nav-link" href="#">Favoris</a>
																											  </li>
																											  <li class="nav-item">
																											    <a class="nav-link" href="#">Profil</a>
																											  </li>
																											  <li class="nav-item">
																											    <a class="nav-link disabled">Déconnexion</a>
																											  </li>
																											</ul> #}
{% endblock %}
