{% extends 'base.html.twig' %}

{% block title %}Person index
{% endblock %}

{% block body %}
	<div id="containerh2">
		<h2>Mon profil</h2>
	</div>

	<div id="containerProfil">
		{% for person in people %}
			<div class="elementsProfil">
				<label>Nom</label>
				<p class="formProfilInformations">{{ person.firstname }}</p>
			</div>
			<div class="elementsProfil">
				<label>Prénom</label>
				<p class=" formProfilInformations">{{ person.lastname }}</p>
			</div>
			<div class="elementsProfil">
				<label>Email</label>
				<p class="formProfilInformations">{{ person.email }}</p>
			</div>
		</div>
		<div id="">
			<a href="{{ path('app_person_edit', {'id': person.id}) }}">Modifier</a>
		</div>

	{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
	{% endfor %}
{% endblock %}
