{% extends 'base.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block body %}

    <h3>Ma playlist</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Artiste</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td>{{ favorite.id }}</td>
                <td>
                  <h4>  <a href="{{ path('app_favorite_show', {'id': favorite.id}) }}">show</a></h4>
                  <h5>  <a href="{{ path('app_favorite_edit', {'id': favorite.id}) }}">edit</a></h5>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
