{% extends 'base.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block body %}

    <h3>Ma playlist</h3>

    <table class="table">
        {# <thead>
            <tr>
                <th>Artiste</th>
                <th>Titre</th>
            </tr>
        </thead> #}
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td>
                  <h4><a href="{{ path('app_favorite_index', {'id': favorite.id}) }}">Artiste</a></h4>
                </td>
                <td>
                    <h5><a href="{{ path('app_favorite_index', {'id': favorite.id}) }}">Titre</i></a></h5>
                </td>
                {# <td>
                   <a href="{{ path('app_favorite_edit', {'id': favorite.id}) }}"><i class="bi bi-play-fill"></i></a>
                </td>
                <td>
                    <a href="{{ path('app_favorite_delete', {'id': favorite.id}) }}"><i class="bi bi-trash-fill"></i></a>
                </td> #}
            </tr>
        {% else %}
            {# <tr>
                <td colspan="2">no records found</td>
            </tr> #}
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
